@use "../../../../globalStyles/_colors.scss" as *;
@use "../../../../globalStyles/mixins/mixins.scss" as *;
// UpdateComment.scss
.update_parent {
  background-color: #f0f0f0 !important;
  border-radius: 10px;
  height: 100px;
  .update_form {
    background-color: inherit;
  }
}
.update_form {
  border-radius: 10px;
  width: 100%;
  height: 90px;
  justify-content: space-between;
  background-color: $white-color;
  padding: 0 10px;
  .custom_textarea {
    border: none;
    outline: none;
    padding: 10px 0;
    line-height: 1.5;
    resize: none; /* Disable user resizing */
    background: none;
    height: 100%;
    width: 100%;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  .update_btns {
    @include flexbox($justifyContent: flex-end);
    gap: 0.8rem;
    width: 100%;
    @include abs(0 0px -28px 0);
    button {
      background: none;
      border: none;
      color: $white-color;
      &:hover {
        color: $secondary-color;
      }
      cursor: pointer;
    }
  }
}
