@import "../../globalStyles/colors";
.hero_section {
	background: linear-gradient(
			to bottom,
			hsla(235, 100%, 50%, 0.9),
			rgba(144, 238, 144, 90%)
		),
		url("../../../public/images/amazon-people.webp") no-repeat center/cover;

	width: 100%;
	min-height: calc(100vh - 91px);
	display: flex;
	justify-content: center;
	align-items: center;

	.hero_content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
		.hero_info {
			width: 49%;
			text-align: left;
			font-size: 18px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 1.8rem;
			white-space: pre-line;
			.hero_title {
				font-size: calc(0.5rem + 3vw);
				background: linear-gradient(to right, $primary-color, $secondary-color);
				-webkit-text-fill-color: transparent;
				-webkit-background-clip: text;
				margin: 0;
				@media (max-width: 991px) {
					font-size: calc(0.8rem + 3vw);
					width: 50%;
					margin: 0 auto;
					text-align: center;
				}
				@media (max-width: 767px) {
					font-size: calc(1.1rem + 2vw);
					width: 330px;
					margin: 0 auto;
				}
				@media (max-width: 280px) {
					width: 260px;
				}
			}
			.img_info_container {
				display: none;
				text-align: center;
				width: 100%;
				img {
					max-width: 100%;
					width: 100%;
					height: 100%;
				}
			}
			.hero_description {
				color: $white-color;
				line-height: 1.7;
				@media (min-width: 1200px) {
					text-align: justify;
				}
				@media (max-width: 1200px) {
					text-align: start;
				}
				@media (max-width: 767px) {
					text-align: center;
				}
				.des_link {
					color: $white-color;
					font-weight: bold;
					font-size: 17px;
					text-decoration: none;
				}
			}
			.hero_btn {
				text-decoration: none;
				letter-spacing: 1px;
				font-size: 15px;
				color: $primary-color;
				position: relative;
				z-index: 1;
				div {
					font-weight: bold;
					background-color: $white-color;
					border-radius: 30px;
					padding: 8px 35px;
					min-width: -moz-fit-content;
					min-width: fit-content;
					width: 120px;
					height: 40px;
					border: none;
					transition: 0.5s ease;
					cursor: pointer;
					display: flex;
					justify-content: space-between;
					align-items: center;
					position: relative;
					button {
						all: unset;
					}
				}
				&:hover {
					box-shadow: 0 0 10px #000;
					border-radius: 50px;
				}
				&:hover .arrow-first {
					animation: arrow-movement-right 2s ease-in-out infinite;
					opacity: 1;
				}
				&:hover .arrow-second {
					animation: arrow-movement-right 2s 1s ease-in-out infinite;
					opacity: 1;
				}
				&:active {
					scale: 0.9;
				}
				// change direction
				&.change_direction.rtl {
					&:hover .arrow-first {
						animation: arrow-movement-left 2s ease-in-out infinite;
						opacity: 1;
					}
					&:hover .arrow-second {
						animation: arrow-movement-left 2s 1s ease-in-out infinite;
						opacity: 1;
					}
				}
			}
		}
		.img_container {
			width: 48%;
			display: flex;
			justify-content: flex-end;
			flex: 1 0;
			height: auto;
			img {
				max-width: 100%;
				height: 100%;
				object-fit: cover;
				@media (min-width: 1250px) {
					height: 420px;
				}
			}
		}
	}
	@media (max-width: 991px) {
		padding: 3rem 0;
		.hero_content {
			flex-direction: column-reverse;
			.hero_info {
				width: 100%;
				.img_info_container {
					display: block;
				}
			}
			.img_container {
				display: none;
			}
		}
	}
}
// arrow animation

$ani-speed: 2s;
$ani-delay: 1s;

.arrow {
	position: absolute;
	right: 33%;
	top: 50%;
	transform-origin: 50% 50%;
	transform: translate3d(-50%, -50%, 0);

	&:before,
	&:after {
		background: linear-gradient(to right, $third-color, $secondary-color);
		content: "";
		display: block;
		height: 3px;
		position: absolute;
		top: -8px;
		right: -43px;
		width: 15px;
	}

	&:before {
		transform: rotate(-40deg) translateX(-75%);
		transform-origin: top right;
	}

	&:after {
		transform: rotate(45deg) translateX(-25%);
		transform-origin: top left;
	}
}

.arrow.change_dir {
	left: 63px;
	right: 0;
	transform: rotate(175deg) translate3d(-50%, -50%, 0);
}
.arrow.change_dir::after,
.arrow.change_dir::before {
	top: -5px;
	right: -76%;
}

@keyframes arrow-movement-right {
	0% {
		opacity: 0;
		right: 45%;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes arrow-movement-left {
	0% {
		opacity: 0;
		left: 45%;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
