@import "../../globalStyles/colors";
// for button animation
$ani-speed: 2s;
$ani-delay: 1s;
.hero_section {
	min-height: calc(100vh - 88px);
	background-image: linear-gradient(
			to bottom,
			hsla(240, 100%, 50%, 0.9),
			rgba(144, 238, 144, 90%)
		),
		url("../../../public/images/amazon-people.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.hero_content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;

		.hero_info {
			width: 49%;
			text-align: left;
			font-size: 18px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 1.8rem;
			white-space: pre-line;

			.hero_title {
				font-size: calc(0.5rem + 3vw);
				background: linear-gradient(to right, $primary-color, $secondary-color);
				-webkit-text-fill-color: transparent;
				-webkit-background-clip: text;
				margin: 0;

				@media (max-width: 991px) {
					font-size: calc(0.8rem + 3vw);
					width: 50%;
					margin: 0 auto;
					text-align: center;
				}

				@media (max-width: 767px) {
					font-size: calc(1.1rem + 2vw);
					width: 330px;
					margin: 0 auto;
				}

				@media (max-width: 280px) {
					width: 260px;
				}
			}

			.img_info_container {
				display: none;
				text-align: center;
				width: 100%;

				img {
					max-width: 100%;
				}
			}

			.hero_description {
				color: $white-color;
				line-height: 1.7;

				@media (min-width: 1200px) {
					text-align: justify;
				}

				@media (max-width: 1200px) {
					text-align: start;
				}

				@media (max-width: 767px) {
					text-align: center;
				}

				.des_link {
					color: $white-color;
					font-weight: bold;
					font-size: 17px;
					text-decoration: none;
				}
			}

			.hero_btn {
				text-decoration: none;
				letter-spacing: 1px;
				font-size: 15px;
				color: $primary-color;
				position: relative;
				z-index: 1;

				div {
					font-weight: bold;
					background-color: $white-color;
					border-radius: 30px;
					padding: 8px 35px;
					min-width: -moz-fit-content;
					min-width: fit-content;
					width: 120px;
					height: 40px;
					border: none;
					transition: 0.5s ease;
					cursor: pointer;
					display: flex;
					justify-content: space-between;
					align-items: center;
					position: relative;

					button {
						all: unset;
					}
				}

				&:hover {
					box-shadow: 0 0 10px #000;
					border-radius: 50px;
				}

				&:hover .arrow-first {
					animation: arrow-movement $ani-speed ease-in-out infinite;
					opacity: 1;
				}

				&:hover .arrow-second {
					animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
					opacity: 1;
				}

				&:active {
					transform: scale(0.9);
				}
			}
		}

		.img_container {
			width: 48%;
			display: flex;
			justify-content: flex-end;
			flex: 1 0;
			height: auto;

			img {
				max-width: 100%;
				height: 100%;
				object-fit: cover;

				@media (min-width: 1250px) {
					height: 420px;
				}
			}
		}
	}

	@media (max-width: 991px) {
		padding: 3rem 0;

		.hero_content {
			flex-direction: column-reverse;

			.hero_info {
				width: 100%;

				.img_info_container {
					display: block;
				}
			}

			.img_container {
				display: none;
			}
		}
	}
}
//  for button animation
.arrow {
	position: absolute;
	left: 55%;
	top: 50%;
	transform-origin: 50% 50%;
	transform: translate3d(-50%, -50%, 0);

	&.chnage_dir {
		right: 45%;
		transform: rotate(175deg);
	}

	&.chnage_dir::after,
	&.chnage_dir::before {
		left: 60px;
	}

	&:before,
	&:after {
		background: linear-gradient(to right, $third-color, $secondary-color);
		content: "";
		display: block;
		height: 3px;
		position: absolute;
		top: -8px;
		left: 50px;
		width: 15px;
	}

	&:before {
		transform: rotate(-40deg) translateX(-75%);
		transform-origin: top right;
	}

	&:after {
		transform: rotate(45deg) translateX(-25%);
		transform-origin: top left;
	}

	@keyframes arrow-movement {
		0% {
			opacity: 0;
			left: 45%;
		}
		70% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
}
