@import "../../../../globalStyles/mixins/mixins.scss";
.nestedNavLinks {
  @include abs(236% 0 0 50%); // position: absolute;
  z-index: 99;
  background-color: hsla(222, 100%, 8%, 0.8);
  width: 510px;
  height: auto;
  min-height: 100px;
  border-radius: 0 0 20px 20px;
  transform: translate(-50%);
  padding: 0 20px 4px 20px;
  @include flexbox(
    $justifyContent: space-between,
    $alignItems: center,
    $wrap: wrap
  );
  .nestedNavContainer {
    @include flexbox($alignItems: center, $wrap: wrap);
    width: 85%;
  }
  li {
    padding: 10px !important;
    &.donation_link {
      background: darkgreen;
      border-radius: 6px;
      height: 25px;
      margin: 10px;
      display: flex;
      text-transform: capitalize;
      color: orange;
      font-weight: 500;
      font-style: italic;
      &.donation_link > a {
        @include links(orange, yellow, orange, orange);
      }
    }
  }
  .book_list {
    width: 13%;
  }
}
