@use "../../../globalStyles/_colors.scss" as *;
@use "../../../globalStyles/mixins/mixins.scss" as *;
.custom-dropdown {
  @include rel();
  width: -moz-fit-content;
  width: fit-content;
  .selected-option {
    @include flexbox($alignItems: center, $justifyContent: space-between);
    padding: 4px 10px;
    border: 2px solid;
    border-right-color: rgba(144, 238, 144, 0.693);
    border-right-color: rgba(lightgreen, 0.9);
    border-top-color: rgba($third-color, 0.9);
    border-bottom-color: rgba(lightgreen, 0.9);
    border-left-color: rgba($third-color, 0.9);
    border-radius: 2px 10px;
    @include rel();
    cursor: pointer;
    div {
      @include flexbox($alignItems: center);
      gap: 5px;
      .languages_icon {
        width: 30px;
        height: 30px;
      }
      &:hover.thin-scroll::-webkit-scrollbar-thumb {
        background-color: $white-color;
      }
    }
    .theLang {
      @include abs(-10px -10px 0 0);
      text-transform: capitalize;
      background-color: #0044ff;
      padding: 0 8px;
      border-radius: 25px;
      font-size: 15px;
      font-weight: 500;
      @media (max-width: 991px) {
        & {
          position: initial;
        }
      }
    }
  }
  .options {
    @include abs(167% 0 0 0);
    right: 0;
    background-color: #000;
    list-style: none;
    padding: 0;
    margin: 0;
    @include flexbox($direction: column);
    border-top: 2px solid;
    border-image: linear-gradient(to right, $secondary-color, #0044ff) 1;
    width: 180px;
    height: 177px;
    border-radius: 0 0 6px 6px;
    overflow-y: auto;
    z-index: 999;
    li {
      @include flexbox($justifyContent: flex-start);
      padding: 10px;
      cursor: pointer;
      &:hover {
        background-color: #3333338c;
        color: $primary-color;
      }
      &.selected {
        background-color: #3333338c;
        color: $primary-color;
      }
      .option {
        @include flexbox($alignItems: center, $justifyContent: space-between);
        width: 100%;
        img {
          width: 20px;
        }
      }
    }
    @media (max-width: 991px) {
      & {
        width: initial;
      }
    }
  }
}
