$primary-color: #00a2ff; // Primary color
$primaryDark-color: #0556b3; // Primary dark color

$secondary-color: lightgreen; // Secondary color
$green-color: #008000; // Green color
$third-color: blue; // Tertiary color

$darkBlue-color: #0b127e; // Dark blue
$medium-darkblue: #0056b3; // Medium dark blue

$darkgray-color: #444; // Medium dark gray

$lightgray-color: #eee; // Light gray
$lighter-gray: #ddd; // Lighter gray
$pale-gray: #f0f0f0; // Pale gray

$blue-shadow-light: #cad7ec; // light blue
$white-color: #fff; // White color
