@use "../../globalStyles/_colors.scss" as *;
@use "../../globalStyles/mixins/mixins.scss" as *;
.arrows {
  width: 60px;
  height: 72px;
  text-align: center;
  margin: 0 auto;
  @include flexbox($alignItems: center, $justifyContent: center);
  path {
    stroke: $primary-color;
    fill: transparent;
    stroke-width: 2px;
    -webkit-animation: arrow 2s infinite;
    animation: arrow 2s infinite;
    &.a1 {
      -webkit-animation-delay: -1s;
      animation-delay: -1s;
    }
    &.a2 {
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
    }
    &.a3 {
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Add vendor prefixes for keyframes */
@-moz-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Add vendor prefixes for -webkit-keyframes */
@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
