@use "../../globalStyles/_colors.scss" as *;
@use "../../globalStyles/mixins/mixins" as *;
// Tooltip.scss
.tooltip-container {
  @include rel();
  .tooltip-icon {
    cursor: pointer;
    height: 20px;
  }

  .tooltip-text {
    @include abs(125% 0 50% 0);
    width: 300px;
    height: -moz-fit-content;
    height: fit-content;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #333;

    border-radius: 4px;
    color: $white-color;
    color: yellow;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
    transition:
      opacity 0.3s,
      visibility 0.3s;
  }
}
