@import "../../globalStyles/_colors.scss";
@import "../../globalStyles/mixins/mixins.scss";
.back-to-top-button {
  @include fix(0 20px 20px 0);
  padding: 10px;
  border: none;
  border-radius: 50%;
  background: $darkBlue-color;
  box-shadow: 0 0 10px rgba($darkBlue-color, 0.4);
  color: white;
  z-index: 999;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
  width: 45px;
  height: 45px;
  overflow: hidden;
  @include flexbox(
    $alignItems: center,
    $justifyContent: center,
    $direction: column
  );
  &:active {
    transform: scale(0.95);
  }
  &:hover {
    background: $medium-darkblue;
    box-shadow: 0 0 15px rgba($darkBlue-color, 0.6);
  }
  &.visible {
    opacity: 1;
  }

  .arrow-top {
    border: solid $white-color;
    border-width: 0 2.5px 2.5px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    animation: pulse 2s ease-in-out infinite;
  }
}

@keyframes pulse {
  0% {
    transform: translateY(0) rotate(-135deg);
  }
  50% {
    transform: translateY(-3px) rotate(-135deg);
  }
  100% {
    transform: translateY(0) rotate(-135deg);
  }
}
