@use "../../../../globalStyles/_colors.scss" as *;
@use "../../../../globalStyles/mixins/mixins.scss" as *;
.heart-btn {
  .content {
    @include rel();
    @include flexbox($alignItems: center);
    cursor: pointer;
    .heart {
      height: 20px;
      width: 48px;
      background: url("../../../../../public/images/heart.png") no-repeat;
      background-position: left;
      background-size: 2900%;
      &.heart-active {
        background-position: right;
        animation: animate 0.8s steps(28) 1;
      }
    }
    .numb {
      @include abs(5px 7px);
      font-size: 13px;
      color: $white-color;
      font-weight: bold;
    }
  }
  @media (max-width: 360px) {
    & {
      .content {
        .heart {
          width: 40px;
        }
      }
    }
  }
}
.interaction_comments {
  @include abs(0 -8px -22px 0);
  @include flexbox($alignItems: center);
  gap: 15px;
  direction: ltr;
  .interaction_btn {
    .content {
      @include rel();
      @include flexbox($alignItems: center);
      cursor: pointer;
      .unlike,
      .love {
        color: $white-color;
        font-size: 16px;
        &.interaction_active {
          color: $secondary-color;
        }
      }
      .numb {
        color: $white-color;
        font-size: 11px;
        font-weight: bold;
        @include rel(5px 0 0 0);
        &.interaction_active {
          color: $secondary-color;
        }
      }
    }
  }
  @media (max-width: 360px) {
    gap: 10px;
    .interaction_btn {
      .content {
        .unlike,
        .love {
          font-size: 14px;
        }
      }
    }
  }
}

@keyframes animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
