@use "../../globalStyles/_colors.scss" as *;
@use "../../globalStyles/mixins/about" as *;
.section {
  .page_title {
    font-size: 2.2rem;
    font-size: clamp(1.7rem, 4vw, 2.2rem);
    color: $darkBlue-color;
    margin-bottom: 1.5rem;
  }
  padding: 50px 0;
  .head {
    font-size: 2.2rem;
    font-size: clamp(1.6rem, 4vw, 2.2rem);
    color: $primaryDark-color;
    max-width: 80%;
    margin: 2rem auto;
    margin-inline-start: 4rem;
    @media (max-width: 991px) {
      margin-inline-start: 0;
    }
    @media (max-width: 768px) {
      max-width: 100%;
    }
  }
  .about {
    @include about(null, 30px);
    border: 1px solid rgba($primaryDark-color, 0.2);
  }
  span,
  p {
    margin: 1rem 0;
    .link {
      color: $primaryDark-color;
      word-wrap: break-word;
      font-weight: 500;
      display: inline;
      padding: 6px;
      &:active {
        scale: 0.99;
      }
    }
  }
  p > .link {
    padding: 0;
  }
  .warning {
    text-align: center;
    margin: 4rem auto 0;
    padding: 10px;
    color: white;
    background-color: #0b127e;
    border-radius: 12px;
    max-width: 750px;
    text-shadow: 2px 4px 5px rgba(255, 255, 255, 0.7);
    box-shadow: 0 10px 15px rgba(11, 18, 126, 0.3);
    border-top: 1px solid orangered;
  }
  .text-bold {
    font-weight: bold;
    color: $primaryDark-color;
  }
}

@media print {
  @page {
    margin: 1cm;
  }
}
