@import "../../globalStyles/colors";
.contact {
  text-align: center;
  background-color: #f0f0f0;
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 50px 0;
  color: $medium-darkblue;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    clip-path: polygon(0% 100%, 100% 0%, 100% 0%, 100% 100%);
    background-color: orange;
    width: 100%;
    height: 90%;
    z-index: -1;
  }
  .contact_content {
    background: #fff;
    position: relative;
    padding: 50px 10px;
    margin-top: 50px;
    box-shadow: 0 0 40px;
    .user-type-buttons {
      display: flex;
      justify-content: center;
      .vertical-line {
        height: 100%;
        width: 2px;
        background-color: #ccc;
      }
      button {
        border: none;
        width: auto;
        padding: 10px 20px;
        cursor: pointer;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          left: 0;
          top: 0;
          transition: 0.5s ease;
        }
        &:first-child:after {
          background-color: orange;
        }
        &:last-child:after {
          background-color: $secondary-color;
        }
        &:hover:after {
          width: 100%;
        }
      }
    }
    .form_container {
      h2 {
        border-bottom: 1px solid;
        width: -moz-fit-content;
        width: fit-content;
        margin: 30px auto;
        padding: 6px 0;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: -7.5px;
          left: 50%;
          width: 8px;
          height: 8px;
          background-color: $medium-darkblue;
          transform: rotate(45deg) translateX(-50%);
        }
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 600px;
        margin: 0 auto;
        padding: 0 10px;
        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          label {
            font-weight: bold;
            text-align: start;
          }
          input:not(input[type="radio"], input[type="checkbox"]),
          textarea {
            border: none;
            height: 40px;
            width: 250px;
            max-width: 250px;
            min-width: 250px;
            max-height: 100px;
            border-radius: 10px;
            text-transform: capitalize;
            padding: 0 10px;
            background-color: #eee;
            resize: none;
            &:focus {
              outline: none;
              border-top: 2px solid $secondary-color;
            }
          }
          textarea {
            padding: 10px;
            overflow-y: auto;
          }
        }
        .uploadCv {
          label {
            background: #0056b3;
            padding: 10px 18px;
            font-size: 14px;
            border-radius: 25px;
            cursor: pointer;
            color: #fff;
          }
        }
        button[type="submit"] {
          cursor: pointer;
          background-color: $secondary-color;
          border: none;
          width: -moz-fit-content;
          width: fit-content;
          text-align: end;
          padding: 10px 22px;
          border-radius: 4px;
          font-weight: bold;
          letter-spacing: 0.5px;
          margin-top: 1rem;
          color: $darkBlue-color;
        }
        fieldset {
          border: none;
          display: flex;
          align-items: center;
          width: 250px;
          justify-content: center;
          text-align: center;
          gap: 15px;
        }
        @media (max-width: 767px) {
          & {
            width: 100%;
            div {
              input:not(input[type="radio"], input[type="checkbox"]),
              textarea {
                width: 100%;
                width: unset;
                min-width: unset;
              }
            }
          }
        }
      }
    }
  }
  h1 {
    margin: 0;
  }
}
