// src/components/Popover.scss
@use "../globalStyles/_colors.scss" as *;
@use "../globalStyles/mixins/scroll" as *;
@use "../globalStyles/mixins/mixins.scss" as mixins;

.popover-container {
  position: relative;
  display: inline-block;
  .popover-trigger {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 0;
    z-index: 1000;
    background: $white-color;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    overflow: hidden;
    min-width: 400px;

    .popover-header {
      @include mixins.flexbox(
        flex,
        row,
        null,
        null,
        nowrap,
        null,
        null,
        null,
        space-between,
        center
      );
      padding: 1rem;
      border-bottom: 1px solid $lightgray-color;
      h3 {
        display: block;
        color: $darkgray-color;
        font-weight: 600;
        font-size: 1.25rem;
        margin: 0;
      }
    }

    .popover-content {
      padding: 1rem;
      border-bottom: 1px solid $lightgray-color;
      max-height: 70vh;
      overflow: auto;
      @include dynamic-scroll(
        $width: 6px,
        $track-color: rgba($blue-shadow-light, 0.1),
        $thumb-color: rgba($green-color, 0.5)
      );
      h4 {
        display: block;
        color: $darkgray-color;
        font-weight: 600;
        font-size: 1.25rem;
        margin: 0;
      }
    }
  }
}
/* Optional: Overlay background when drawer is open */
.popover-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  cursor: pointer;
}
