@import "../../globalStyles/colors";
.header_pages {
  width: 100%;
  background: radial-gradient(
    ellipse at top,
    $primary-color -65%,
    $darkBlue-color 80%
  );
  min-height: 300px;
  text-align: left;
  align-items: flex-start;
  overflow: hidden;
  .wrapper_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 300px;
    .breadcrumb {
      min-width: 100px;
      display: flex;
      justify-content: flex-start;
      gap: 0.8rem;
      color: $white-color;
      @media (max-width: 767px) {
        margin-bottom: 2rem;
      }
      .breadcrumb_item {
        a {
          color: $secondary-color;
          &:active {
            color: $darkgray-color;
          }
        }
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white_color;
    text-align: center;
    width: 100%;
    h1 {
      font-size: 50px;
      margin: 0;
      letter-spacing: 15.2px;
      @media (max-width: 767px) {
        font-size: calc(6vw + 0.8rem);
      }
    }
    p {
      font-size: 24px;
      letter-spacing: 1px;
      transform: skewX(164deg);
      background: $secondary-color;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
      filter: drop-shadow(0 0 22px #000);
      @media (max-width: 767px) {
        font-size: calc(1vw + 1rem);
      }
    }
  }
}
