@import "../../globalStyles/colors";
@import "../../globalStyles/mixins/mixins.scss";
.footer {
  .top_footer {
    @include rel();
    background: linear-gradient(0deg, $primary-color -50%, $darkBlue-color 70%);
    padding: 0 0 3rem;
    z-index: 10;

    .footer_list {
      @include flexbox($alignItems: flex-start);

      .footer_links {
        @include flexbox($wrap: wrap);
        column-gap: 8rem;
        row-gap: 2rem;

        @media (max-width: 767px) {
          column-gap: 3rem;
        }

        .col {
          .footer_head {
            color: $secondary-color;
            font-size: 1.1rem;
            letter-spacing: 0.5px;
            font-weight: 600;
          }

          .list_item {
            margin: 0;
          }

          .item {
            padding: 8px 0;
            transition: transform 0.2s ease;

            &:hover {
              transform: translateX(5px);
            }

            .link_item {
              text-decoration: none;
              font-size: 14px;
              font-weight: 400;
              @include links(
                $white-color,
                $secondary-color,
                $primary-color,
                $white-color
              );
              letter-spacing: 0.5px;
              transition: all 0.2s ease;
            }
          }
        }
      }
    }

    &::after {
      @include pseudo(block, absolute, "", 0, 0, 0 0px 0px 0);
      border-style: solid;
      border-color: transparent $blue-shadow-light $blue-shadow-light
        transparent;
      border-width: 100px 100px 104px 100px;
      z-index: -1;
    }
    &.rtl::after {
      left: 0;
      right: unset;
      border-color: transparent transparent $blue-shadow-light
        $blue-shadow-light;
    }
  }

  .bottom_footer {
    min-height: 150px;
    .content {
      @include flexbox();
      .info {
        width: 48%;

        p:first-child {
          margin-bottom: 0.8rem;

          span {
            a {
              text-decoration: none;
              font-weight: 500;
              font-size: 14px;
              letter-spacing: 0.5px;
              @include links($darkBlue-color, $primary-color, $darkBlue-color);
              transition: 0.2s;

              &:first-child {
                margin-left: 0;
              }
            }
          }
        }

        p {
          font-size: 13px;
          font-weight: 400;
          color: #555;
          @include flexbox();
          gap: 10px;
          margin: 0.5rem 0;
        }
      }

      .social_links {
        @include flexbox($alignItems: flex-start, $justifyContent: flex-end);
        width: 50%;
        margin-top: 1rem;
        gap: 0.5rem;
        a {
          cursor: pointer;
          &:last-child {
            .icon {
              padding: 4px;
            }
          }
        }
      }
      @media (max-width: 767px) {
        & {
          flex-direction: column-reverse;
          .info {
            width: 95%;
            p {
              gap: 0.3rem;
              font-size: 12px;
            }
          }
          .social_links {
            justify-content: flex-start;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    min-height: 400px;
    padding: 0 0 40px;
    .top_footer::after {
      border-width: 85px;
    }
  }
}
