@import "../../../globalStyles/colors";
.blog_popup {
  position: fixed;
  width: 95%;
  height: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #dae3f0;
  border-radius: 10px;
  padding: 25px 50px;
  z-index: 9999;
  overflow-y: auto;
  overflow-x: hidden;

  .blog_title {
    text-align: center;
    text-transform: capitalize;
  }
  .comment_title {
    .speical {
      color: darkblue;
    }
  }
  .comments_header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .special {
      font-size: 27px;
      color: $darkBlue-color;
      font-weight: 700;
    }
    h1 {
      text-align: center;
    }
  }
  &::-webkit-scrollbar {
    width: 8px;
    background-color: $lightgray-color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #4576ae;
    border-radius: 10px;
  }
  @media (max-width: 767px) {
    & {
      padding: 25px 15px;
      width: 100%;
      height: 100%;
    }
  }
  .popup_content {
    .popup_close {
      all: unset;
      color: $medium-darkblue;
      position: relative;
      cursor: pointer;
      padding: 4px 0px;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        border-bottom: 2px solid $medium-darkblue;
        width: 50%;
        transition: 0.7s ease;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
.blog_close {
  position: absolute;
  width: 37px;
  height: 37px;
  right: 10px;
  top: 10px;
  background-color: $white-color;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 23px;
  font-weight: bold;
  border-radius: 50%;
  padding: 1px 0;
  cursor: pointer;
}
.comments_content {
  position: relative;
}
.comment {
  .nested_comments {
    background: $white-color;
    margin: 8px 0;
    border-left: 2px solid $primaryDark-color;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
  }
  .replies {
    margin-top: 0;

    .interaction_comments {
      position: absolute;
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }

  @media (max-width: 768px) {
    .nested_comments {
      min-width: 100%;
    }
  }
}
