@import "../../../globalStyles/colors";
@import "../../../globalStyles/mixins/mixins.scss";
.blog_popup {
  @include fix(50% 0 0 50%);
  width: 95%;
  height: 95%;
  transform: translate(-50%, -50%);
  background-color: #dae3f0;
  border-radius: 10px;
  padding: 25px 50px;
  z-index: 9999;
  overflow-y: auto;
  overflow-x: hidden;

  .blog_title {
    text-align: center;
    text-transform: capitalize;
  }
  .comment_title {
    .speical {
      color: darkblue;
    }
  }
  .comments_header {
    @include flexbox($alignItems: center, $justifyContent: center);
    gap: 8px;
    .special {
      font-size: 27px;
      color: $darkBlue-color;
      font-weight: 700;
    }
    h1 {
      text-align: center;
    }
  }
  &::-webkit-scrollbar {
    width: 8px;
    background-color: $lightgray-color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #4576ae;
    border-radius: 10px;
  }
  @media (max-width: 767px) {
    & {
      padding: 25px 15px;
      width: 100%;
      height: 100%;
    }
  }
  .popup_content {
    .popup_close {
      all: unset;
      color: $medium-darkblue;
      @include rel();
      cursor: pointer;
      padding: 4px 0px;
      &::after {
        @include pseudo(block, absolute, "", 50%, 1px, 0 0 0px 0px);
        border-bottom: 2px solid $medium-darkblue;
        transition: 0.7s ease;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
.blog_close {
  @include abs(10px 10px 0 0);
  width: 37px;
  height: 37px;
  background-color: $white-color;
  color: red;
  @include flexbox($alignItems: center, $justifyContent: center);
  border: none;
  font-size: 23px;
  font-weight: bold;
  border-radius: 50%;
  padding: 1px 0;
  cursor: pointer;
}
.comments_content {
  @include rel();
}
.comment {
  .nested_comments {
    background: $white-color;
    margin: 8px 0;
    border-left: 2px solid $primaryDark-color;
    @include rel();
    width: -moz-fit-content;
    width: fit-content;
  }
  .replies {
    margin-top: 0;

    .interaction_comments {
      @include abs();
      @include flexbox($alignItems: center);
      gap: 15px;
    }
  }

  @media (max-width: 768px) {
    .nested_comments {
      min-width: 100%;
    }
  }
}
