/* Import global colors */
@import "../../../globalStyles/colors";
@import "../../../globalStyles/mixins/mixins.scss";
@import "../../../globalStyles/animations/index.scss";

@mixin list-item-paragraph {
  ul {
    padding: 0 25px;
  }
  ol,
  ul {
    list-style: revert;
    p {
      margin: 4px 0;
    }
  }
}

/* Styles for the Blogs component */
.Blogs {
  padding-top: 50px;
  .read_more {
    color: $primaryDark-color;
    font-weight: bold;
    cursor: pointer;
  }
  .search {
    position: relative;
    .loader-icon {
      display: inline-block;
      animation: spin 1s linear infinite;
      font-size: large;
      position: absolute;
      color: $darkBlue-color;
      top: -26px;
      transform-origin: center 44%;
    }
    .input-search {
      width: 50rem;
      width: clamp(98%, 45vw, 50rem);
      height: 50px;
      border-radius: 30px;
      padding: 0 10px;
      border: none;
      outline: 2px solid $white-color;
      font-size: 15px;
      letter-spacing: 1px;
      box-shadow: 0 5px 10px $blue-shadow-light;
      background: none;
      &:focus {
        outline-color: orangered;
      }
    }
    &.smSC {
      display: none;
    }
  }

  .links {
    @include flexbox($alignItems: center, $justifyContent: space-between);

    a {
      all: unset;
      background-color: $darkBlue-color;
      color: $white-color;
      padding: 8px 20px;
      cursor: pointer;
      border-radius: 30px;
      box-shadow: 0 6px 10px #0000003b;
      font-weight: bold;
      flex-shrink: 0;
    }
    & > a {
      width: -moz-fit-content;
      width: fit-content;
      @media (max-width: 480px) {
        width: 100px;
        padding: 10px;
        text-align: center;
      }
    }

    .search_bar_container {
      width: 50%;
    }
    .auth_Links {
      @include flexbox();
      gap: 10px;

      a {
        all: unset;
        background-color: #90ee9000;
        padding: 8px 25px;
        border: 1px solid orange;
        border-radius: 15px;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1647058824) inset,
          0 4px 10px rgba(0, 0, 0, 0.2901960784);
        color: darkgreen;
      }
    }
    .user_info {
      font-size: 11px;
      @include flexbox($alignItems: center);
      gap: 10px;
      text-transform: capitalize;
      @include rel();
      max-width: 200px;
      text-align: center;
      .img_container {
        width: 50px;
        height: 50px;
        img {
          width: 100%;
          height: 100%;
          background-color: $lightgray-color;
          border: 1px solid orange;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .text_info {
        cursor: pointer;
        @include flexbox($alignItems: center);
      }
    }
    // userMenu
    .user_menu {
      @include abs(100% 0px 0 0);
      background-color: #dae3f0;
      border-radius: 25px 0px;
      width: 200px;
      z-index: 99;
      @include flexbox($direction: column);
      gap: 8px;
      border-radius: 5px;
      border: 2px solid #99aa;
      padding: 2px;
      font-size: 12px;

      .user-link,
      .logout-button {
        padding: 10px;
        text-decoration: none;
        right: 0;
        left: 0;
        color: #333;
        background-color: $white-color;
        border: 2px solid $lightgray-color;
        border-radius: 5px;
        transition: background-color 0.2s ease-in-out, color 0.2s;
        cursor: pointer;
        &:hover {
          background-color: $darkBlue-color;
          color: $white-color;
        }
      }
    }
  }

  .blogs_content {
    margin: 50px 0 0 0;
    font-size: 16px;
    @media (max-width: 767px) {
      & {
        margin: 0;
      }
    }
    .blog-post {
      padding: 40px;
      padding-bottom: 10px;
      border-radius: 20px;
      @include rel();
      border: 2px solid #00a2ff42;
      box-shadow: 0 4px 15px $blue-shadow-light;
      width: 80%;
      margin: 50px auto;
      background: rgba(#fff, 0.8);
      @media (max-width: 991px) {
        & {
          padding: 30px 10px;
          padding-bottom: 10px;
          width: 100%;

          .blog_title {
            font-size: 24px;
          }
        }
      }
      @media (max-width: 767px) {
        & {
          box-shadow: none;
          margin: 0;
          border: none;
        }
        &:not(:last-child) {
          border-bottom: 10px solid #aab8c2;
          border-radius: 0;
        }
      }
      .blog_user {
        @include flexbox($alignItems: center);
        gap: 10px;
        margin-top: 10px;
        .author_name {
          text-transform: capitalize;
          font-weight: 500;
        }
        .img_container {
          width: 50px;
          height: 50px;
          img {
            height: 100%;
            border-radius: 50%;
            background-color: #f0f0f0;
          }
        }
      }
      .blog_content {
        margin-top: 0;
        word-break: break-word;
        &.truncated {
          display: -webkit-box;
          -webkit-line-clamp: 4; /* Limit to 3 lines */
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &.expanded {
          display: block; /* Show full content */
        }
      }
      .title_and_date {
        @include flexbox($alignItems: center);
        gap: 10px;
        margin-bottom: 0;
        font-weight: 500;
        .blog_title {
          margin: 0;
          font-size: 27px;
          color: #222;
          text-transform: capitalize;
        }
        .blog_date {
          font-size: 12px;
          color: #555;
          letter-spacing: 2px;
        }
      }

      .sub_title {
        display: block;
        font-style: italic;
        color: #777;
      }

      h2 {
        font-size: 18px;
        margin-bottom: 10px;
      }

      .remove-button {
        @include abs(15px 15px 0 0);
        border-radius: 10px;
        font-size: 15px;
        font-weight: bold;
        box-shadow: 0 8px 15px $blue-shadow-light, 0 -8px 15px #82010142 inset;
        border: 2px solid #000;
        padding: 5px 10px;
        background-color: #dc3545;
        color: $white-color;
        border: none;
        cursor: pointer;
      }

      .comment-form {
        @include flexbox($alignItems: center);
        margin-top: 10px;
        height: 50px;
        .textarea {
          width: 300px;
          height: inherit;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px 0 0;
          resize: none;
          &:focus-visible {
            outline: none;
          }
        }
        .submit-button {
          all: unset;
          cursor: pointer;
          background: #008a00;
          width: -moz-fit-content;
          width: fit-content;
          padding: 0 10px;
          border-radius: 0 10px 0 0;
          text-align: center;
          font-weight: 500;
          height: inherit;
          letter-spacing: 1px;
          color: $white-color;
          border-right: none;
          border-left: none;
          &:hover {
            background-color: rgba(#008a00, 0.8);
          }
        }
      }
      @include list-item-paragraph();
    }
  }

  /* Media Query for Small Screens */
  @media (max-width: 767px) {
    & {
      > .container {
        padding: 0rem;
      }
      .blogs_header {
        padding: 0.4rem;
      }
    }
    .links {
      .search {
        &.bgSC {
          display: none;
        }
      }
    }
    .search {
      &.smSC {
        display: block;
        margin: 40px auto;
      }
    }
    .auth_Links {
      flex-direction: column;
    }
  }
  .finished-message {
    background-color: $darkBlue-color;
    color: $secondary-color;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 20px auto;
  }
}

/* Styles for the create blog form */
.create_blogs {
  min-height: calc(100vh - 90px);

  .form-container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 0;
    @include flexbox($direction: column);
    .special {
      color: #c11c27;
    }
    .input_field {
      width: 50%;
      input {
        width: 100%;
        border: 1px solid #ccc;
        height: 50px;
        padding: 0 0 0 15px;
        font-size: 15px;

        &:focus-visible {
          outline: none;
        }
      }
    }
    .button-group {
      border-bottom: 1px solid #cad7ec;
      padding-bottom: 10px;
      background: #0b127e;
      padding: 8px;
      @include flexbox(
        $justifyContent: center,
        $alignItems: center,
        $wrap: wrap
      );
      > button {
        padding: 2px 8px;
        font-weight: bold;
        margin: 4px 6px;
        max-height: 25px;
        max-width: 35px;
        border: 1px solid #0b127e;
        cursor: pointer;
        &:hover {
          background-color: $blue-shadow-light;
          border-color: #fff;
        }
      }
    }
    .tiptap {
      background-color: #fff;
      padding: 10px;
      border: 1px solid $blue-shadow-light;
      border-top: none;
      border-radius: 0 0 4px 4px;
      min-height: 200px;
      &:focus {
        outline: none;
        border: 1px solid $darkBlue-color;
        border-top: none;
      }
      > p {
        padding-top: 0;
        margin: 0;
      }
    }

    .form_btns {
      @include flexbox($alignItems: center, $direction: row-reverse);

      .preview-button {
        display: block;
        width: 50%;
        border: none;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        letter-spacing: 1px;
        color: #555;
        border: 1px solid $blue-shadow-light;
        border-top: 0;
        cursor: pointer;
        background-color: white;
      }

      .submit-button {
        padding: 10px;
        background-color: $darkBlue-color;
        color: white;
        border: none;
        cursor: pointer;
        width: 50%;
        font-weight: bold;
      }
    }
    .titles {
      @include flexbox($alignItems: center);
    }

    @include list-item-paragraph();

    @media (max-width: 991px) {
      width: 100%;
    }
  }
}

/* Styles for comments section */
.comments {
  .comment_title {
    font-size: 16px;
    text-align: left;
    @include flexbox($alignItems: center);
    gap: 4px;
    .comment_count {
      background-color: $secondary-color;
      width: -moz-fit-content;
      width: fit-content;
      padding: 2px 8px;
      border-radius: 50%;
      color: #333;
    }
  }

  .comments_content {
    .show_more {
      all: unset;
      font-weight: 500;
      color: $third-color;
      cursor: pointer;
    }
  }

  .comment {
    .nested_comments_container {
      .nested_comments {
        background: #f2f2f2;
        margin: 20px 0;
        width: 100%;
      }

      .comment_content {
        text-wrap: wrap;
      }
      .replies {
        margin-left: 25px;
        @include flexbox($direction: column);
      }
      @media (max-width: 768px) {
        .nested_comments {
          margin: 0;
        }
        .comment_content {
          max-width: 100%;
        }
      }
    }
    @media (max-width: 768px) {
      & {
        border-radius: 6px;
      }
    }
  }
}
.reply_content {
  @include rel();
}
.blogs_interaction {
  @include flexbox($alignItems: center, $justifyContent: center);
  width: 100%;
  margin: 15px auto;
  margin-bottom: 0;
  border-top: 1px solid $blue-shadow-light;
  .interaction_comments {
    @include rel(0 0 0px none);
    transform: none;
    padding-top: 10px;
    direction: ltr;
    .interaction_btn {
      .content {
        width: 80px;
        span:first-child {
          font-size: 22px;
          width: 30px;
        }
        > span:first-child {
          color: #aab8c2;
          &.interaction_active {
            color: darkgreen;
          }
        }
        .numb {
          font-size: 15px !important;
          font-weight: bold;
          color: #aab8c2;
          &.interaction_active {
            color: darkgreen;
          }
        }
      }
    }
    .heart-btn {
      .heart {
        width: 65px;
      }
      .numb {
        font-size: 15px !important;
        font-weight: bold;
        color: #aab8c2;
        &.interaction_active {
          color: darkgreen;
        }
      }
    }
    @media (max-width: 360px) {
      & {
        gap: 0px;
        .interaction_btn {
          .content {
            span:first-child {
              font-size: 18px;
            }
            .unlike,
            .love {
              font-size: 14px;
            }
          }
        }
        .heart-btn {
          .heart {
            width: 55px;
          }
        }
      }
    }
  }
}
