/* Shared styles for .comment */
.comment {
	background-color: #ffffff7e;
	border-radius: 4px;
	padding: 10px 22px;
	margin: 12px 0;
	margin-left: 0;
	border: 1px solid;
	overflow: hidden;
	border-color: lightsteelblue;
	.nested_comments {
		background: #fff;
		width: -moz-fit-content;
		width: fit-content;
		padding: 10px 15px;
		padding-top: 0;
		border-radius: 0 24px;
		margin: 8px 0;
		border-left: 2px solid #0556b3;
		position: relative;
		min-width: 150px;
		line-height: 1.5;
		span {
			font-size: 10px;
			font-weight: bold;
			display: flex;
			justify-content: end;
			color: darkgreen;
		}
	}
	.comment_head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: darkblue;
		margin-bottom: 0;
		.comment_date {
			font-size: 12px;
			color: #000;
			letter-spacing: 2px;
			font-weight: bold;
			margin-top: 0;
			color: darkgreen;
		}
	}
	.comment_content {
		border-left: 2px solid orangered;
		padding: 10px;
		background: linear-gradient(to right, #ffffff, #0556b32b);
		border-radius: 4px;
		color: darkblue;
		margin-right: 15px;
	}
	.replies {
		margin-bottom: 25px;
		margin-left: 25px;
		display: flex;
		flex-direction: column;
	}
	.reply_form {
		display: flex;
		textarea {
			border-right: 0px;
			width: 300px;
			height: 40px;
			padding: 8px;
			border-radius: 4px 0 0 4px;
			&:focus {
				outline: none;
				border: 2px solid orangered;
				border-right: 0;
				filter: none;
			}
		}
		button {
			border: none;
			background: darkblue;
			color: #fff;
			font-weight: bold;
			cursor: pointer;
		}
	}
}

/* Shared styles for .comments_content */
.comments_content {
	position: relative;
}
