// EllipsisMenu.scss
@import "../../../globalStyles/colors";
@import "../../../globalStyles/mixins/mixins.scss";
.menu-container {
  @include rel();
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
  @include flexbox($alignItems: end, $justifyContent: end);
  height: 6px;
  .menu-trigger {
    cursor: pointer;
  }

  .menu-icon {
    font-size: 18px; // Adjust the size as needed
    line-height: 1;
    font-weight: 500;
    color: $white-color;
  }

  .menu-options {
    @include abs(20px 0 0 0);
    width: 150px;
    background-color: $primaryDark-color;
    color: $white-color;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    border-radius: 8px;
    margin: 0;
    z-index: 999;
    padding: 0 !important;
    li {
      list-style: none;
      padding: 8px 16px;
      cursor: pointer;
      &:not(:last-child) {
        border-bottom: 1px solid $blue-shadow-light;
      }

      &:hover {
        background-color: rgba($white-color, 0.2);
        border-radius: 8px 8px 0 0;
      }
    }
    &.ar::after {
      border-width: 10px 50px 40px 3px;
      left: 10px;
      right: unset;
    }
    &::after {
      @include pseudo(block, absolute, "", 0, 0, -20px 8px 0 0);
      border-color: transparent transparent $primaryDark-color;
      border-width: 10px 1px 31px 30px;
      color: transparent;
      border-style: solid;
      z-index: -1;
    }
  }
}
