@use "../globalStyles/_colors.scss" as *;

.dashboard {
  display: flex;
  min-height: 80vh;
  width: 100%;
  position: relative;
  background: url("/images/circle-blues.webp") center;
  .dashboard-page-title {
    color: $white-color;
  }
}

.dashboard-content {
  flex: 1;
  padding: 2rem;
  min-width: 0;
  width: 100%;
}

.dashboard-header {
  display: flex;
  align-items: center;
  min-height: 48px;
  margin-bottom: 1.5rem;

  .dashboard-sidebar-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    margin-right: 1rem;
    color: $white-color;
    cursor: pointer;
    align-items: center;
    transition: color 0.2s;
    outline: none;
    &:hover {
      color: $warning-color;
    }
    @media (max-width: 991px) {
      position: sticky;
      top: 1rem;
      z-index: 99999;
      display: flex;
    }
  }
  .dashboard-sidebar-arrow {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1;
  }
}

.dashboard-page-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #1e293b;
  margin: 0;
  letter-spacing: 0.01em;
}

@media (max-width: 900px) {
  .dashboard-content {
    padding: 1rem 0.5rem;
  }
}
