@use "../../../globalStyles/_colors.scss" as *;
@use "../../../globalStyles/mixins/mixins.scss" as *;
.hundred_phrases {
  padding: 50px 0;
  h1 {
    color: #333;
    border-bottom: double slategray;
    padding: 14px 0;
    margin-bottom: 1rem;
  }
  .content {
    text-align: center;
    gap: 15px;
    @include flexbox($wrap: wrap);
    padding-top: 40px;
  }
  .block {
    width: 49%;
    h2 {
      color: $medium-darkblue;
      margin-bottom: 1.2rem;
    }
    .img_container {
      width: 400px;
      height: 250px;
      margin: 0 auto;
      @include rel();
      z-index: 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0% 20%;
      }
      &::after,
      &::before {
        @include pseudo(block, absolute, "", 100%, 100%, 0px 0 0 0px);
        background-color: rgba($medium-darkblue, 0.4);
        z-index: -1;
        transition: 0.5s;
      }
      &::after {
        transform: rotate(4deg);
      }
      &::before {
        transform: rotate(-4deg);
      }
      &:hover {
        transform: scale(1.1px);
      }
      &:hover::after,
      &:hover::before {
        transform: rotate(0);
      }
    }
    ul {
      @include flexbox($justifyContent: start, $wrap: wrap, $direction: column);
      column-gap: 30px;
      row-gap: 10px;
      width: 70%;
      margin: 30px auto;
      text-align: left;
      li {
        font-weight: bold;
        color: rgba(0, 0, 0, 0.7);
        padding: 10px;
        border-radius: 10px;
        background: #f9f9f9;
        word-break: break-word;
        text-align: start;
      }
      .subTitle {
        color: $darkBlue-color;
      }
      .nested_phrases {
        all: unset;
      }
    }
    @media (max-width: 991px) {
      & {
        width: 100%;
      }
    }
    @media (max-width: 480px) {
      & {
        ul {
          width: 100%;
        }
        .img_container {
          width: 100%;
        }
      }
    }
  }
}
