/* AuthStyle.scss */
@import "../../globalStyles/colors";
@import "../../globalStyles/sharedStyles";
@import "../../globalStyles/mixins/mixins.scss";

.auth_form {
  margin: 0 auto;
  text-align: center;
  @include flexbox(
    $alignItems: center,
    $justifyContent: center,
    $direction: column
  );
  height: calc(100vh - 90px);
  .container {
    .content {
      @include rel();
      width: 600px;
      margin: 0 auto;
      padding: 40px;
      background-color: rgba($white-color, 1);
      border-radius: 10px;
      border-top: 3px solid $darkBlue-color;
      box-shadow: 0 0 40px $blue-shadow-light;
      z-index: 1;

      h1 {
        @include rel();
        font-size: 28px;
        border-bottom: 1px solid;
        padding: 6px 0;
        width: -moz-fit-content;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 20px;
        color: $primaryDark-color;

        &::after {
          @include pseudo(block, absolute, "", 8px, 8px, 0 0 -7.5px 50%);
          background-color: $medium-darkblue;
          transform: rotate(45deg) translateX(-50%);
        }
      }

      form {
        width: 100%;
        @include flexbox($justifyContent: center, $direction: column);
        gap: 17px;
        text-align: left;

        label {
          display: block;
          margin-bottom: 10px;
          font-weight: 500;
          text-align: start;
        }

        p {
          text-align: center;
        }

        input:not([type="checkbox"]) {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          letter-spacing: 0.8px;

          &:focus {
            outline: none;
            border-color: #007bff;
          }
        }

        a {
          text-decoration: none;
          color: $medium-darkblue;
          font-weight: 500;
          &:first-of-type {
            text-align: end;
          }
        }

        span {
          text-align: center;
        }

        button {
          background-color: $darkBlue-color;
          color: $white-color;
          border: none;
          border-radius: 4px;
          padding: 10px 20px;
          font-size: 17px;
          width: 100%;
          cursor: pointer;
          font-weight: bold;
          letter-spacing: 1.1px;

          &:hover {
            background-color: $medium-darkblue;
          }
        }
        .group.termsAgreement {
          @include flexbox($alignItems: center);
          input {
            cursor: pointer;
          }
          label {
            margin: 0;
            -webkit-user-select: none;
            user-select: none;
          }
        }
        .group.password {
          @include rel();
          #password_eye {
            @include abs(12px 15px);
            font-size: 18px;
            width: -moz-fit-content;
            width: fit-content;
          }
          #password_error {
            color: red;
            font-weight: bold;
            margin: 0;
            text-align: start;
            font-size: small;
            -webkit-user-select: none;
            user-select: none;
          }
        }
      }
      .earth_icon {
        @include abs(-30px 0 0 50%);
        transform: translateX(-50%);
        font-size: 50px;
        color: $medium-darkblue;
        background: linear-gradient(178deg, $pale-gray, $white-color);
        overflow: hidden;
        height: 53px;
        border-radius: 50%;
        height: 55px;
      }
    }
    & {
      width: 100%;
    }
  }
  @media (max-width: 768px) {
    & {
      min-height: 100vh;
      .container {
        .content {
          width: 100%;
        }
      }
    }
  }
  p {
    text-align: center;
    a {
      text-decoration: none;
      color: $medium-darkblue;
      font-weight: 500;
    }
  }
}
