@use "../../globalStyles/_colors.scss" as *;
@use "../../globalStyles/mixins/mixins.scss" as *;
.print_container {
  width: 100%;
  @include flexbox(
    $alignItems: flex-end,
    $justifyContent: flex-end,
    $direction: column
  );
  .print_btn {
    all: unset;
    color: $secondary-color;
    background-color: $darkBlue-color;
    min-width: 100px;
    width: 80px;
    border-radius: 50px;
    padding: 8px 15px;
    font-weight: bold;
    font-size: 0.9rem;
    border: 1px solid $primary-color;
    text-transform: capitalize;
    @include flexbox($alignItems: center, $justifyContent: space-between);
    max-height: 1.875rem;
    cursor: pointer;
    transition:
      box-shadow,
      color,
      0.4s ease;
    &:hover {
      color: $white-color;
      box-shadow: 0 0 10px $medium-darkblue;
    }
  }
  img {
    width: 1.4rem;
    color: $primary-color;
  }
}
@media print {
  .print_container {
    display: none;
  }
}
