@use "../colors" as *;
@use "sass:meta";

@mixin about(
  $background: null,
  $padding: null,
  $width: 85%,
  $box-shadow: null
) {
  font-size: 17px;
  color: $darkgray-color;
  font-weight: 500;
  letter-spacing: 0.9px;
  text-transform: none;
  margin-top: 0;
  background: if(sass($background): $background; else: rgba(#fff, 0.9));
  border-radius: 20px;
  padding: $padding;
  font-family: "Lato", sans-serif;
  box-shadow: if(
    sass($box-shadow): $box-shadow; else: 0 0 20px $blue-shadow-light
  );
  width: if(sass($width): $width; else: 85%);
  margin: 0 auto 10px auto;

  @media (max-width: 991px) {
    width: 100%;
  }
  @media (max-width: 768px) {
    font-size: 15px;
    border-bottom: 2px solid #0b127e;
    box-shadow: 0 10px 10px rgb(11 18 126 / 18%);
    border-radius: 0;
    padding: if(sass($padding): calc($padding - 15px) ; else: 0px;);
  }
}
