@import "../../globalStyles/colors";
.about_us_info {
  padding: 50px 0;
  text-transform: capitalize;
  .header {
    color: $primaryDark-color;
  }
  .title {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 0.5rem;
    img {
      width: 50px;
      height: 50px;
    }
  }
  .about {
    font-size: 15.5px;
    color: #444;
    font-weight: 500;
    letter-spacing: 0.9px;
    text-transform: none;
  }
}
