@import "../../globalStyles/colors";
@import "../../globalStyles/mixins/about";
@import "../../globalStyles/mixins/mixins.scss";
.about_us_info {
  padding: 50px 0;
  text-transform: capitalize;
  .header {
    font-size: clamp(1.5rem, 4vw, 2rem);
    color: $primaryDark-color;
  }

  .group {
    @include about();
    border: 1px solid rgba($primaryDark-color, 0.2);
    border-top: 0;
    div {
      padding: 30px;
      @media (max-width: 768px) {
        padding: 15px;
      }
    }
    .about_img {
      width: 100%;
      height: auto;
      object-fit: contain;
      border-radius: 10px;
      max-width: none;
    }
  }

  article {
    > .title {
      @include flexbox(
        $alignItems: center,
        $direction: row-reverse,
        $justifyContent: start
      );
      gap: 0.5rem;
      img {
        width: 50px;
        height: 50px;
      }
    }

    > .about {
      @include about(null, 30px);
      border: 1px solid rgba($primaryDark-color, 0.2);
    }
  }
}
